@import "tailwindcss";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

@theme {
  /* Green 계열 */
  --color-green-100: #92f6a9;
  --color-green-200: #5ae587;
  --color-green-300: #34cc72;
  --color-green-400: #01ab59;

  /* Gradient는 배경 이미지 유틸리티에서 직접 사용 */
  --color-green-gradient:
    linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%),
    linear-gradient(90deg, #5ae587 0%, #16bbc5 100%);

  /* 기타 색상 */
  --color-blue: #067a80;
  --color-red: #ff6d6d;

  /*폰트*/
  --font-display: "Pretendard", "sans-serif";
}

body {
  @apply font-sans;
}
