@import 'tailwindcss';

@layer components {
  .wrapper {
    @apply flex h-full flex-col justify-between;
  }
  .container {
    @apply flex h-full flex-1 flex-col overflow-y-hidden;
  }
  .scroll-container {
    @apply flex-1 overflow-auto px-5;
  }
  .scroll-container::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .app-bar {
    @apply flex h-[54px] items-center justify-between px-5;
  }
  .app-bar--62 {
    @apply h-[62px];
  }
  .top-bar {
    @apply flex gap-1;
  }

  .list {
    @apply flex flex-col gap-4;
  }
}
