@import 'tailwindcss';

@font-face {
	font-family: 'Pretendard';
	src: url('@/assets/font/PretendardVariable.woff2') format('woff2');
	font-display: swap;
	font-weight: 100 900;
	font-style: normal;
}

/* base typography */
[class*='head'],
[class*='body'],
[class*='caption'],
[class*='button'] {
	font-family: 'Pretendard', sans-serif;
	line-height: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* font-size */
[class*='head1'] {
	font-size: 28px; /* head */
}
[class*='head2'] {
	font-size: 18px;
}
[class*='body1'] {
	font-size: 16px; /* body */
}
[class*='body2'] {
	font-size: 14px;
}
[class*='caption1'] {
	font-size: 12px; /* caption */
}
[class*='caption2'] {
	font-size: 10px;
}
[class*='button1'] {
	font-size: 16px; /* button */
}

/* font-weight */
[class*='semibold'] {
	font-weight: 600;
}
[class*='medium'] {
	font-weight: 500;
}
[class*='regular'] {
	font-weight: 400;
}

/* line-height */
[class*='lh150'] {
	line-height: 150%;
}
